.bottom {
    position: relative;
    width: 100%;
    background-color: #202020;
    padding-top: 1em;
    padding-bottom: 2em;
    text-align: center;
    line-height: 2em;
}
.bottom img{
    width: 1.25em;
    height:1.25em;
}