.wordAbout {
    font-size: 1.5em;
    font-weight: 700;
}

.wordContent {
    font-size: 1em;
    color: #717171;
}

.wordContentMB {
    font-size: 1.4em;
    color: #3E3e3e;
    word-break: break-all;
}

.wordContentM {
    font-size: 1.25em;
    color: #717171;
}

.wordDetails {
    font-size: 1.25em;
    color: #666;
}

.wordLittleEng {
    font-size: .75em;
    color: #666;
}

.wordTitle {
    font-size: 1.75em;
    font-weight: 800;
}

.wordBottomM {
    font-size: 1.1em;
    color: white;
}

.wordBottom {
    font-size: .9em;
    color: #7c7c7d;
}