    .container {
        position: relative;
        width: 100%;
        background-color: #f7f6f6;
        padding-top: 5em;
        padding-bottom: .5em;
    }
    
    .container>.messageBlock {
        width: 80%;
        padding-bottom: .5em;
        background-color: #f7f6f6;
        margin-left: 10%;
        overflow: hidden;
    }
    /* 这是每个信息留言板的内容 */
    
    .messageBox {
        width: 13em;
        background-color: #fff;
        box-shadow: 0px 2px 5px #aaa;
        line-height: 1.75em;
        padding: 1em;
        border-radius: .5em;
    }
    /* 暂停动画效果 */
    /* .messageBox:nth-child(n):hover {
        animation: anmStop 0s;
    } */
    
    @keyframes anmStop {
        0% {
            background: #000000;
        }
        100% {
            background: #FFFFFF;
        }
    }
    
    .messageBlock>.messageBox:nth-child(odd) {
        float: left;
    }
    
    .messageBlock>.messageBox:nth-child(even) {
        float: right;
    }
    
    .messageBox:nth-child(10n) {
        animation: anm1 20s infinite;
    }
    
    .messageBox:nth-child(10n+1) {
        animation: anm4 20s infinite;
    }
    
    .messageBox:nth-child(10n+2) {
        animation: anm2 20s infinite;
    }
    
    .messageBox:nth-child(10n+3) {
        animation: anm3 20s infinite;
    }
    
    .messageBox:nth-child(10n+4) {
        animation: anm7 20s infinite;
    }
    
    .messageBox:nth-child(10n+5) {
        animation: anm6 20s infinite;
    }
    
    .messageBox:nth-child(10n+6) {
        animation: anm5 20s infinite;
    }
    
    .messageBox:nth-child(10n+7) {
        animation: anm8 20s infinite;
    }
    
    .messageBox:nth-child(10n+8) {
        animation: anm9 20s infinite;
    }
    
    .messageBox:nth-child(10n+9) {
        animation: anm10 20s infinite;
    }
    /* .messageBlock>.messageBox:nth-child(1) {
        float: left;
        margin-top: 4em;
        margin-left: 2em;
    }
    
    .messageBlock>.messageBox:nth-child(2) {
        float: right;
        margin-top: 2em;
        margin-right: 5em;
    }
    
    .messageBlock>.messageBox:nth-child(3) {
        float: left;
        margin-top: 12em;
        margin-left: 6em;
    }
    
    .messageBlock>.messageBox:nth-child(4) {
        float: right;
        margin-top: 10em;
        margin-right: 3em;
    }
    
    .messageBlock>.messageBox:nth-child(5) {
        float: left;
        margin-top: 6em;
        margin-left: 6em;
    }
    
    .messageBlock>.messageBox:nth-child(6) {
        float: right;
        margin-top: 3em;
        margin-right: 1em;
    }
    
    .messageBlock>.messageBox:nth-child(7) {
        float: right;
        margin-top: 2em;
        margin-right: 4em;
    }
    
    .messageBlock>.messageBox:nth-child(8) {
        float: left;
        margin-top: 3em;
        margin-left: 5em;
    } */
    /*输入框块*/
    
    .messageInput {
        width: 100%;
        margin-top: 2em;
        background-color: #f7f6f6;
        text-align: center;
    }
    
    .inputBox {
        width: 4em;
        background-color: #fff;
        height: 4em;
        border-radius: 2em;
        margin: 1em auto;
        box-shadow: 0px 0px 3px #aaa;
    }
    
    .inputBox:hover {
        transition: .5s linear;
        cursor: pointer;
    }
    
    .inputBox:hover>i {
        color: #00a1e9;
        transition: .5s linear;
    }
    
    .inputBox>i {
        font-size: 2em;
        margin: .5em auto;
    }
    
    .inputBox>input {
        width: 10em;
        margin-top: .5em;
        height: 3em;
    }
    /*实现消息框漂浮特效动画*/
    /* @keyframes anm1 {
        10% {
            transform: translate(-10px, -10px);
        }
        30% {
            transform: translate(-10px, 10px);
        }
        50% {
            transform: translate(10px, 10px);
        }
        70% {
            transform: translate(10px, -10px);
        }
        90% {
            transform: translate(-10px, -10px);
        }
    }
    
    @keyframes anm2 {
        10% {
            transform: translate(10px, -10px);
        }
        30% {
            transform: translate(10px, 10px);
        }
        50% {
            transform: translate(-10px, 10px);
        }
        70% {
            transform: translate(-10px, -10px);
        }
        90% {
            transform: translate(10px, -10px);
        }
    } */
    
    @keyframes anm1 {
        5% {
            transform: translate(30%, 42%);
        }
        30% {
            transform: translate(0, 0);
        }
        55% {
            transform: translate(-15%, 14%);
        }
    }
    
    @keyframes anm2 {
        35% {
            transform: translate(-21%, -10%);
        }
        60% {
            transform: translate(25%, -27%);
        }
        85% {
            transform: translate(18%, -10%);
        }
    }
    
    @keyframes anm3 {
        15% {
            transform: translate(-48%, 10%);
        }
        40% {
            transform: translate(0, 0);
        }
        65% {
            transform: translate(-23%, -48%);
        }
    }
    
    @keyframes anm4 {
        28% {
            transform: translate(38%, -20%);
        }
        56% {
            transform: translate(0, 0);
        }
        81% {
            transform: translate(16%, 23%);
        }
    }
    
    @keyframes anm5 {
        25% {
            transform: translate(0, 0);
        }
        50% {
            transform: translate(23%, 22%);
        }
        75% {
            transform: translate(12%, 22%);
        }
    }
    
    @keyframes anm6 {
        36% {
            transform: translate(0, 0);
        }
        71% {
            transform: translate(-22%, 33%);
        }
        96% {
            transform: translate(0, 0);
        }
    }
    
    @keyframes anm7 {
        25% {
            transform: translate(-33%, -44%);
        }
        50% {
            transform: translate(0, 0);
        }
        75% {
            transform: translate(-23%, -37%);
        }
    }
    
    @keyframes anm8 {
        33% {
            transform: translate(21%, -16%);
        }
        58% {
            transform: translate(0, 0);
        }
        83% {
            transform: translate(18%, -27%);
        }
    }
    
    @keyframes anm9 {
        20% {
            transform: translate(0, 0);
        }
        40% {
            transform: translate(21%, -16%);
        }
        70% {
            transform: translate(-18%, -27%);
        }
    }
    
    @keyframes anm10 {
        45% {
            transform: translate(-44%, -23%);
        }
        70% {
            transform: translate(0, 0);
        }
        95% {
            transform: translate(28%, 17%);
        }
    }
    /*以下是寄语发送框样式*/
    
    .inputBoxHid {
        z-index: 999;
        position: fixed;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        margin: auto;
        width: 25%;
        height: 28em;
        background-color: #fff;
        animation: boxHid .7s ease-in;
        overflow: hidden;
        box-shadow: 0px 2px 7px #aaa;
        text-align: center;
    }
    
    .inputBoxHid>i {
        float: right;
        font-size: 2em;
        margin-top: .5em;
        margin-right: .5em;
    }
    
    .inputBoxHid>p {
        clear: right;
        font-size: 1.25em;
    }
    
    .inputBoxHid>i:hover {
        transition: .5s linear;
        color: #00a1e9;
        cursor: pointer;
    }
    
    .nameBox {
        margin-top: 4em;
        width: 75%;
        height: 1em;
        margin: 1em auto 1em;
        padding: .5em 0 1em 0;
        border-radius: 2em;
        background-color: rgba(241, 241, 241, .98);
    }
    
    .nameBox>input {
        margin-left: 2em;
        font-size: 1em;
        color: black;
    }
    
    .contentBox {
        display: block;
        border: 0;
        border-radius: 5px;
        background-color: rgba(241, 241, 241, .98);
        width: 70%;
        height: 8em;
        padding: 1em;
        resize: none;
        margin: 0 auto;
        font-size: 1.25em;
    }
    
    .submitBtn {
        width: 80%;
        margin-top: 1em;
        height: 3em;
        border-radius: 2em;
        background: linear-gradient(45deg, #386eb4, #aaa);
        color: white;
        letter-spacing: .5em;
        font-size: 1em;
    }
    
    #submitBtn:hover {
        box-shadow: 0px 2px 7px #aaa;
        transition: .3s linear;
    }
    
    .submitBtn:hover {
        cursor: pointer;
    }
    
    @keyframes boxHid {
        0% {
            opacity: 0.5;
            transform: scale(0.1) translate(100%, 100%);
        }
        100% {
            opacity: 1.0;
            transform: scale(1.0) translate(0%, 0%);
        }
    }